body{
    margin:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:120vh;
    background-color:hsl(0,0%,95%);
    margin-bottom:60px;

}


#calculator{
    background-color:hsl(0,0%,15%);
    border-radius:15px;
    max-width:500px;
    overflow:hidden;
}
#display{
    width:100%;
    padding:20px;
    font-size:5rem;
    text-align:left;
    border:none;
    background-color:hsl(0,0%,20%);
    color:white;
}


#keys{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    
}

button{
    width:80px;
    height:80px;
    border-radius:50px;
    border:none;
    background-color:pink;
    color:white;
    font-size:3rem;
    font-weight:bold;
    cursor:pointer;
}
button:hover{
    background-color:hsla(321, 65%, 56%, 1.00);
}
button:active{
    background-color:hsla(323, 70%, 61%, 1.00);
}
.operator-btn{
    background-color:hsl(30,100%,50%);
}
.operator-btn:hover{
    background-color:hsl(30,100%,65%);
}
.operator-btn:active{
    background-color:hsl(30,100%,80%);
}       